<form action="/new" method="post" enctype="multipart/form-data">
  Choose a name for the document, including the extention:<br>
  <input type="text" id="filename" name="filename">
  <br>
  <br>
  If document is an image, choose a file to upload:
  <input type="file" name="image" id="image">
  <br>
  <br>
  <button type="submit">Create Document</button>
</form>

<br>
<button><a class="cancel" href="/">Cancel</a></button>